@import '../../scss/common.scss';

$font-size: 17px;
$baseline: calc($font-size * 1.65);

.root {

  h2, h3, h4 {
    font-family: $font-stack-heading;
    font-weight: 400;
  }

  
  a,
  a:visited {
    @extend %link;
  }  

  article {
    background-color: #fff;
    box-shadow: 0 0 8px $rain;
    font-family: $font-stack-body;

    p {
      font-size: $font-size;
      line-height: $baseline;
    }

    li {
      font-size: $font-size;
      line-height: $baseline;
    }

    code {
      border: none;
      color: $lacera;
      background: $suave-lightest;
    }

    strong {
      font-weight: 700;
    }

    blockquote {
      line-height: calc($baseline * 2);
      padding: 10px 20px 10px 20px;
      color: $lacera;;
      font-style: italic;
      margin: 0 0 20px;
      position: relative;
      border-top: 1px $rain-lightest solid;
      border-bottom: 1px $rain-lightest solid;
      p {
        font-size: calc($font-size * 1.1);
      }
      &:before {
        content: "\201C";
        font-size: 40px;
        font-style: normal;
        color: $orangina;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }

    .articleHeader {
      padding: 20px;
      h1 {
        padding: 0;
        margin: 0;
        font-size: 40px;
        font-family: $font-stack-heading;
        font-weight: 300;
        color: #000;
      }
    }

    .meta {
      padding: 20px;
      color: $gunmetal;
      font-size: $font-size;
      line-height: $baseline;
      border-top: 1px $rain dashed;
      display: flex;
      span {
        display: inline-block;
        flex: 2;
      }
      .tags {
        flex: 4;
        text-align: right;
      }
    }

    .content {
      padding: 0 20px 0;
    }
    
  }
  
}

