@import '../../scss/common.scss';

.root {
  background: $suave-lightest;
  padding: 20px;
  color: $gunmetal;
  font-family: $font-stack-body;
  header {
    h1 {
      padding: 0;
      margin: 0;
      font-size: 30px;
      font-family: $font-stack-fancy;
      color: $lacera;
    }
  }
  a,
  a:visited {
    font-family: $font-stack-heading;
    font-size: 24px;
    border-bottom-color: $lacera;
  }
  p {
    font-style: italic;
    color: color($gunmetal l(50%));
    font-size: 14px;
    line-height: calc(14px * 1.5);
    margin: 0;
    padding: 0;
  }
}
